<section id="section-about" class="bg-zinc-900 p-20 rounded-xl my-4">
    <h1 class="text-5xl font-bold my-5">About Me</h1>
    <p>Hello! My name is Jose Miguel Cedeño Ramos, and I am a Junior Software Development Engineer and a Mechatronics Engineer. With a strong background in both software development and mechatronics, I have developed a passion for building integrated systems that combine hardware and software solutions. As a junior developer, I am continuously learning and improving my skills in various programming languages, development frameworks, and engineering methodologies. My goal is to contribute to innovative projects and collaborate with teams to create efficient, scalable solutions that make a positive impact.</p>
</section>