<footer class="bg-zinc-900 mx-auto py-10 mt-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4">
        <div>
            <h4 class="font-bold text-xl">Contact</h4>
            <p>josemiguelcedenoramos@gmail.com</p>
            <p>+52 4435273053</p>
        </div>
        <div>
            <h4 class="font-bold text-xl">Location</h4>
            <p>México</p>
        </div>
        <div>
            <h4 class="font-bold text-xl">Social Links</h4>
                <div class="block">
                    <img class="w-5 inline-block" src="/images/linkedin-image.svg" alt="">
                    <a href="https://www.linkedin.com/in/jos%C3%A9-miguel-cede%C3%B1o-ramos-75b8ba127/">Linkedin</a>
                </div>
                <div>
                    <img class="w-5 inline-block" src="/images/github-image.svg" alt="">
                    <a class="inline-block" href="https://github.com/Cedeno0418">Github</a>
                </div>
        </div>
    </div>
</footer>